.reviews{
    padding-bottom: 50px;
    
    &__item{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    &__client{
        margin-left: 60px;
        
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #0d0d0d;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 25px;
    }
    &__descr{
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #0d0d0d;
        margin-bottom: 66px;
    }
}